html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error{
    color:#e01d1d;
}

.close-alert{
    position:absolute;
    right:-10px;
    top:-10px;
    border-radius:15px;
    width:30px;
    height:31px;
}

/* Fade in geral */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease-out forwards;
}

.fade-in-delay {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.3s;
}

/* Cards subindo */
.animate-up {
    opacity: 0;
    transform: translateY(30px);
    animation: moveUp 0.8s ease-out forwards;
}

    .animate-up.delay-1 {
        animation-delay: 0.3s;
    }

    .animate-up.delay-2 {
        animation-delay: 0.6s;
    }

@keyframes moveUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CARD STYLE */
.sobre-card {
    background: #ffffff;
    border-radius: 12px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

    .sobre-card:hover {
        transform: translateY(-6px);
        box-shadow: 0px 4px 18px rgba(0,0,0,0.15);
    }

/* Icone no topo */
.icon-circle {
    width: 70px;
    height: 70px;
    background: #e8ffe8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.icon {
    font-size: 32px;
    color: #28a745;
}
